<main role="main" class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-3 pt-3">Fotograflar</h2>
      <img class="card-img-top" src="{{use?.image_url}}" alt="Card image cap">
    </div>
    <div class="col-md-6">
      <h2 class="mt-3 pt-3">User Detail</h2>
      <p style="color: red">{{use?.fullName}}</p>
      <p><b>Otobiyografi ya da öz yaşam öyküsü, yazarın kendi yaşam öyküsünü anlattığı edebiyat türüdür. Kaynak olarak kişi kendini ve aile büyüklerinden aldığı bilgileri kullanır. Yazarın kendinden söz ederken nesnel olması zor olduğundan otobiyografi yazmak güçtür. Otobiyografilerde yazar kendine ait sanat eserleri, düşünceleri ve yaptığı ya da katkısının olduğu önemli işleri aktarır. Bu yazılı anlatım türü aynı zamanda iyi bir belgeseldir. Bu alanda çalışacaklara ve yazarın yaşadığı dönemin özelliklerine kaynaklık eder.[1</b></p>
    </div>
  </div>
</main>
